
body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{    background-color:white; color: rgb(158, 164, 247);text-align: center;padding: 10px;
    border-color: rgb(56, 56, 248);
    padding: 10px;
}
nav{ background-color: rgb(165, 93, 248);; height: 50px;}    
nav ul{     list-style: none;    margin: 0;    padding: 0;}
nav li {display: inline;margin-right: 30px;}
nav a{
    font-family:'Times New Roman', Times, serif;
    color:white;
    font-weight: bold;
    font-size: 16px;
}

section{     padding: 25px;}
footer{background-color: rgb(165, 93, 248);color: white;font-size: 14px;height: 80px;
text-align: center;}